<mat-tab-group color="primary" backgroundColor="primary">
  <mat-tab label="Erster Secret Trip">
    <div style="padding:10px; border:1px solid white;">
      <mat-form-field>
      <input #text1 matInput type="password" placeholder="Ziel 1">
      </mat-form-field>
    </div>
  </mat-tab>
  <mat-tab label="Zweiter Secret Trip">
    <div style="padding:10px; border:1px solid white;">
      <mat-form-field>
      <input #text2 matInput type="password" placeholder="Ziel 2">
      </mat-form-field>
    </div>
  </mat-tab>
</mat-tab-group>

<mat-card style="margin-top: 10px">
  <mat-card-title>Ergebnis:</mat-card-title>
  <mat-card-content>
<!--{{(text1.value | uppercase)==(text2.value | uppercase) ? 'Jo' : 'Nope'}}-->
    <div [style.display]="(text1.value=='' || text2.value =='') ? 'block': 'none'">
      <mat-icon>help</mat-icon>
      <span> Bitte gib zwei Ziele ein</span>
    </div>
    <div style="color: lightgreen" [style.display]="(text1.value | uppercase)!=(text2.value | uppercase) && text1.value && text2.value ? 'block': 'none'">
      <mat-icon>check_circle</mat-icon>
      <span> Passt!</span>
    </div>
    <div style="color: orange" [style.display]="(text1.value | uppercase)==(text2.value | uppercase) && text1.value && text2.value ? 'block': 'none'">
      <mat-icon>warning</mat-icon>
      <span> Oh nein...</span>
    </div>
  </mat-card-content>
</mat-card>
